repos:
  - repo: https://github.com/PYCQA/isort
    rev: 6.1.0
    hooks:
      - id: isort
        files: ^(src/|tests/)
        stages: [pre-commit]
        args: ["--profile", "black", "--filter-files", "--line-length=88"]

  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
      - id: autopep8
        files: ^(src/|tests/)
        stages: [pre-commit]

  - repo: https://github.com/PYCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        files: ^(src/|tests/)
        stages: [pre-commit]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        files: ^(src/|tests/)
        stages: [pre-commit]
        additional_dependencies: [types-requests]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: double-quote-string-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
